.doctorProfileCard {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.profilePhoto {
  width: 100%;
  border-radius: 8px;
}

.doctorDetail {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  color: white;
  justify-content: flex-end;
  flex-direction: column;
  padding: 1rem;
  /* width: 100%; */
  height: 50%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  left: 0;
  background: linear-gradient(0deg, #658f9b 25%, transparent);
}

.doctorName {
  font-size: 1.5rem;
}

.specialist {
  font-size: 0.9rem;
}

.exYear {
  font-size: 0.8rem;
}

.bookAppointmentBtn {
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  margin-top: 1rem;
  text-align: center;
  background-color: #fecf62;
  color: #02475b;
  transition: all 0.8s ease-in;
  cursor: pointer;
}

.bookAppointmentBtn:hover {
  transform: translateX(3rem);
}

@media screen and (max-width: 1130px) and (min-width: 770px){
  .doctorName {
    font-size: 1.45rem;
  }

  .specialist {
    font-size: 0.65rem;
  }

  .exYear {
    font-size: 0.64rem;
  }

  .bookAppointmentBtn {
    align-items: center;
  }

  .bookAppointmentBtn span:nth-child(1) {
    font-size: .9rem;
  }
}

@media screen and (max-width: 770px) {
}

@media screen and (max-width: 429px) {
}

@media screen and (max-width: 314px) {
}
